.about{
    display: flex;
    gap: 20px;
    padding: 0 50px;
    height: calc( 100vh - 70px);
    overflow: hidden;
    .sideNavbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        background: wheat;
        padding: 10px 10px 10px 25px;
        margin: 20px 0;
        border-radius: 8px;
        color: #000;
        font-weight: 600;
        position: relative;
        height: initial;
        width: 40%;
    }
    & .sideNavbar::before{
        content: "";
        height: calc(100% - 20px);
        width: 3px;
        background: #000;
        position: absolute;
        left: 10px;
        bottom: 10px;
        z-index: 999;
    }
    .list{
        position: relative;
    }
    .list:hover{
        /* -webkit-text-stroke: 1px black; */
        -webkit-text-fill-color: #fff;
        text-indent: 5%;
        letter-spacing: 2px;
        transition: all .5s ease;
    }
    .main{
        width: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        padding: 20px 0;
        .component{
            margin: 20px 0;
            .paragraph{
                margin: 10px 0;
            }
        }
    }
}