.navbar{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #f1f1f1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 70px;
    left: 0;
    z-index: 9999;

    & .listItem{
        list-style: none;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 2px;
        position: relative;

        & .hamburger{
            display: flex;
            align-items: center;

            & .icon{
                margin-right: 10px;
            }
        }
    }
    & .listItem:hover::after{
        content: "";
        height: 1px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -5px;
        border-radius: 5px;
        animation: navitemanimation 2s ease forwards;
        width: 100%;
        @keyframes navitemanimation{
            100% {
                width: 100%;
                
            }
        }
    }
}