.herorecipe{
    width: 100%;
    padding: 0 50px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../../image/bgvegetable2.svg");

    & .herorecipeTop{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .herorecipeTitle{
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 3rem;
            color: var(--grayblue-color);
        }
        & .herorecipeSearch{
            width: 50%;

            & .searchbox{
                width: 100%;
                padding: 15px 30px;
                margin: 30px auto;
                border-radius: 50px;
                border: 2px solid var(--grayblue-color);
                outline: none;
                background: var(--background-color);
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 200;
                cursor: text;
            }
            & .searchbox::placeholder{
                text-transform: lowercase;
            }
        }
    }
}