.herorecipe{
    width: 100%;
    padding: 0 50px;
    /* margin: 20px 0 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../../image/bgvegetable2.svg");
    background-size: contain;
    /* height: 600px; */

    & .herorecipeTop{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        & .herorecipeTitle{
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 3rem;
            color: var(--grayblue-color);
        }
        & .herorecipeSearch{
            width: 50%;

            & .searchbox{
                width: 100%;
                padding: 15px 30px;
                margin: 30px auto;
                border-radius: 50px;
                border: 2px solid var(--grayblue-color);
                outline: none;
                background: var(--blue-color);
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 200;
                cursor: text;
                color: #fff;
            }
            & .searchbox::placeholder{
                text-transform: lowercase;
                color: #fff;
            }
            & .searchbox:hover{
                box-shadow: var(--orange-color) 5px 5px;
            }
        }
    }

    & .herorecipeBottom{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;

        & .herorecipeBottomLeft{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 23px;
            width: 25%;
            /* overflow-y: scroll; */
            /* scroll-behavior: smooth; */
            /* height: 100%; */
            padding: 20px 0 20px 0;

            & .recipeIconDiv{
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                border: 2px solid var(--grayblue-color);
                border-radius: 20px;
                background-color: rgba(255, 255, 255, 0.5);

                & .recipeIcon{
                    width: 30px;
                    height: 30px;
                    background-color: var(--grayblue-color);
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & .iconBody{
                        font-size: 3rem;
                        color: #fff;
                    }
                }
                & .recipeIconTitle{
                    text-transform: uppercase;
                    font-weight: 200;
                    letter-spacing: 3px;
                    font-size: 2rem;
                }
            }
            & .recipeIconDiv:hover{
                background: var(--blue-color);
                color: #fff;
                box-shadow: var(--orange-color) 6px 6px;
                & .recipeIcon{
                    background: #fff;
                    & .iconBody{
                        color: var(--blue-color);
                    }
                }
                & .recipeIconTitle{
                    letter-spacing: 4px;
                    font-weight: 600;
                }
            }
        }
    }

    & .herorecipeBottom{

        & .herorecipeBottomMiddle{
            width: 45%;
            height: 100%;
            /* background: #000; */
            border-radius: 20px;
            padding: 50px 0;

            & .image{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }

    & .herorecipeBottom{

        & .herorecipeBottomRight{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: space-evenly; */
            overflow-y: scroll;
            scroll-behavior: smooth;
            /* padding: ; */
            /* background: #000; */
            gap: 10px;
            padding: 0 20px;

            & .recipeDetailDiv{
                width: 95%;
                border: 3px solid var(--blue-color);
                border-radius: 20px;
                background-color: var(--blue-color);
                color: #fff;
                padding: 15px 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                /* margin-top: 20px; */
                margin: 10px 0;

                & .recipeDetailDivTop{
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 3px;
                }
                & .recipeDetailDivMiddle{
                    content: " ";
                    width: 100%;
                    height: 1px;
                    background: #ffffff;
                    border-radius: 20px;
                    margin: 10px 0;
                }

                & .recipeDetailDivBottom{
                    display: flex;
                    justify-content: space-evenly;

                    & .recipeDetailDivBottomLeft{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        font-weight: 900;
                        letter-spacing: 2px;
                        text-align: center;

                        & .recipeDetailDivBottomLeftIcon{
                            margin-top: 10px;
                            & .icon{
                                font-size: 2rem
                            }
                        }
                    }

                    & .recipeDetailDivBottomMiddle{
                        content: " ";
                width: 2px;
                height: 100%;
                background: #ffffff;
                border-radius: 20px;
                margin: 0 10px;
                    }

                    & .recipeDetailDivBottomRight{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        font-weight: 900;
                        letter-spacing: 2px;
                        text-align: center;

                        & .recipeDetailDivBottomRightBottom{
                            margin-top: 10px;
                            font-weight: 200;
                            letter-spacing: 4px;
                            text-transform: lowercase;
                        }
                    }
                }
            }

            & .recipeDetailDiv:hover{
                border: 3px solid var(--grayblue-color);
                background-color: var(--background-color);
                color: var(--grayblue-color);
                box-shadow: var(--orange-color) 10px 10px;
                /* margin-bottom: 5px; */

                & .recipeDetailDivTop{
                    font-weight: 900;
                    text-align: center;
                }

                & .recipeDetailDivMiddle{
                    background: var(--orange-color);
                    height: 2px;
                }

                & .recipeDetailDivBottom{

                    & .recipeDetailDivBottomMiddle{
                        background: var(--orange-color);
                        width: 3px;
                    }
                }
            }
        }

    }
}