.recipeTeam{
    background: url('../../image/vegetablebg4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    padding: 50px;
    gap: 50px;
    margin-top: 8rem;

    .left, .right{
        width: 50%;
    }

    .left{
        .heading{
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 2.5rem;
        }
        .paragraph{
            margin: 20px 0;
            line-height: 2.2rem;
            text-align: justify;
            text-transform: lowercase;
            letter-spacing: 1px;
        }
    }

    .right{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        background: url("../../image/bgvegetable.svg"), var(--blue-color);
        background-size: cover;
        border-radius: 20px;
        padding: 20px 10px;
        box-shadow: var(--orange-color) 10px 10px;
        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            width: calc(100% / 4);
            cursor: pointer;
            .name{
                color: var(--red-color);
                margin: 5px 0 0 0;
                font-size: 2.2rem;
                font-weight: 900;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
            .position{
                color: var(--yellow-color);
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.2rem;
            }
            .image{
                border-radius: 100%;
                border: 1px solid var(--orange-color);
            }
        }
    }

    .btn button{
        border: none;
        outline: none;
        background: var(--grayblue-color);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        color: #fff;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .btn button:first-child{
        position: relative;
    }
    .btn button:last-child{
        padding: 10px 20px;
    }
    .btn button:first-child::after{
        content: " ";
        height: 10px;
        width: 20px;
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        background: var(--grayblue-color);
    }
    .btn a:hover button:first-child::after{
        background-color: var(--orange-color);
    }
    .btn a:hover button{
        background-color: var(--orange-color);
    }

    @media (width <= 600px){
        flex-direction: column;
        padding: 1.5rem;
        background: none;
        .left{
            width: 100%;
        }
        .right{
            width: calc(100% - 1rem);
            margin-bottom: 2rem;
            .profile{
                width: calc(100% / 2 - 2rem);
            }
        }

    }
}