.recipeTeam{
    background: url('../../image/vegetablebg4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    padding: 50px;

    .left, .right{
        width: 50%;
    }

    .left{
        .paragraph{
            margin: 20px 0;
            line-height: 2.2rem;
            text-align: justify;
        }
    }

    .right{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            width: calc(100% / 4);
            cursor: pointer;
            .name{
                color: var(--orange-color);
                margin: 5px 0;
                font-size: 2rem;
                font-weight: 600;
            }
            .position{
                color: var(--blue-color);
            }
            .name:hover{
                text-decoration: underline;
            }
            .image{
                border-radius: 100%;
                border: 1px solid var(--orange-color);
            }
        }
    }

    .btn button{
        border: none;
        outline: none;
        background: var(--grayblue-color);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        color: #fff;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .btn button:first-child{
        position: relative;
    }
    .btn button:first-child::after{
        content: " ";
        height: 10px;
        width: 20px;
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        background: var(--grayblue-color);
    }
    .btn a:hover button:first-child::after{
        background-color: var(--orange-color);
    }
    .btn a:hover button{
        background-color: var(--orange-color);
    }
}