.searchboxMainbody{
width: 100%;
height: calc(100vh - 120px);
z-index: 2;
position: fixed;
top: 120px;
left: 0;
background: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;

.searchbox{
    height: 70vh;
    width: 60%;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border: 3px solid var(--blue-color);
    box-shadow: var(--orange-color) 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    & .search{
        display: flex;
        justify-content: center;
    }
    & .search > input{
        padding: 15px 20px;
        width: 90%;
        margin: 30px auto;
        border-radius: 50px;
        outline: none;
        border: none;
        background: var(--blue-color);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 200;
        color: #fff;
    }
    & .search > input:active{
        box-shadow: var(--orange-color) 0.8rem 0.8rem;
    }
    & .search > input:hover{
        box-shadow: var(--orange-color) 0.8rem 0.8rem;
    }
    & .search > input::placeholder{
        color: #fff;
        text-transform: lowercase;
    }
    & .listItem{
        width: calc(100% - 100px);
        margin: 0 auto 30px;
        display: flex;
        flex-wrap: wrap;
        & .searchList{
            list-style: none;
            border: 2px solid transparent;
            padding: 6px 20px;
            font-size: 20px;
            font-weight: 200;
            display: flex;
            margin: 5px;
            letter-spacing: 2px;
            justify-content: center;
            text-transform: uppercase;
            border-radius: 5rem;
            &.searchList:hover{
                border: 2px solid var(--blue-color);
                box-shadow: var(--orange-color) 5px 5px;
            }
        }
    }
    & .closebtn{
        position: absolute;
        top: 30px;
        right: 30px;
        border: none;
        background: none;
        font-size: 2.5rem;
        cursor: pointer;
    }
}
}
