.sidenavbarMainbody{
width: 100%;
height: calc(100vh - 120px);
overflow: hidden;
z-index: 3;
background: rgba(0, 0, 0, 0.5);
position: fixed;
top: 120px;
left: 0;


.sidenavbar{
    width: 40rem;
    height: calc(100vh - 120px);
    list-style: none;
    background-color: var(--background-color);
    border-right: 3px solid var(--blue-color);
    box-shadow: var(--orange-color) 10px 0;
    position: relative;
}
.closebtn{
    position: absolute;
    left: 42rem;
    top: 1rem;
    border: none;
    outline: none;
    background: none;
    font-size: 4rem;
    color: var(--background-color);
    cursor: pointer;

    & .btnicon{
        border: 2px solid var(--background-color);
        border-radius: 20px;
    }
}
.closebtn:hover{
    color: var(--orange-color);
    & .btnicon{
        border: 2px solid var(--blue-color);
    }
}
}
