.trendingRecipes{
    padding: 2rem 5rem;
    height: calc(100vh - 120px);
    .top{
        width: 100%;
        height: 28rem;
        background-image: url('../../image/img1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 5rem;
        .container{
            background: var(--blue-color);
            display: inline-block;
            padding: 3rem;
            color: #fff;
        }
    }
    .bottom{
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2.5rem;
        .container{
            width: calc((100% / 3.2) - 2rem);
            .img{
                width: 100% !important;
            }
            .tag{
                text-transform: uppercase;
                margin: .5rem 0;
            }
            .recipeName{
                margin-bottom: .5rem;
                text-transform: capitalize;
            }
        }
    }
    @media (width <= 600px){
            height: initial;
            padding: 1.5rem;
        .top{
            height: 20rem;
            padding: 1rem;
            .container{
                max-width: 75%;
                padding: 1rem;
                .recipe{
                    margin-bottom: 1rem;
                }
            }
        }
        .bottom{
            gap: 1rem;
            .container{
                width: calc(100% / 3 - 1rem);
                .img{
                    height: 10rem;
                }
            }
        }
    }
}
