.trendingRecipes{
    padding: 1rem 5rem;
    background: url("../../image/bgvegetable2.svg") center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: calc(100vh - 120px); */
    /* margin-bottom: 10px; */
    .top{
        width: 100%;
        height: 38rem;
        border-radius: 1.2rem;
        position: relative;
        .image{
            width: 100%;
            height: 100%;
            border-radius: 1.2rem;
        }
        .container{
            position: absolute;
            top: 5rem;
            left: 5rem;
            background: var(--background-color);
            display: inline-block;
            padding: 3rem;
            color: var(--blue-color);
            border-radius: 1.2rem;
            z-index: 1;
            box-shadow: var(--orange-color) 10px 10px;
            border: 3px solid var(--blue-color);
            .recipe{
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 900;
                font-size: 3rem;
                position: relative;
                margin-bottom: 10px;
            }
            .recipe::after{
                position: absolute;
                width: 100%;
                height: 1px;
                background: var(--blue-color);
                left: 0;
                bottom: -2px;
                content: " ";
            }
            .rating{
                text-transform: lowercase;
                font-weight: 200;
                letter-spacing: 2px;
                font-size: 1.6rem;
            }
        }
    }
    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        padding: 20px 0;
        .container{
            width: calc((100% / 4) - 1.7rem);
            background-color: var(--blue-color);
            border-radius: 12px;
            border: 3px solid var(--blue-color);
            color: #fff;
            .img{
                width: 100% !important;
                border-radius: 10px 10px 0 0;
            }
            & .containerDetails{
                padding: 10px 10px;

                & .tag{
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--yellow-color);
                }
                & .recipeName{
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 2rem;
                    margin: 10px 0;
                }
                & .nameBar{
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    content: " ";
                    margin: 10px 0;
                }
                & .detailBottom{
                    padding: 5px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & .serving{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                         & .servingTitle{
                            text-transform: uppercase;
                            font-weight: 900;
                            letter-spacing: 2px;
                            font-size: 1.6rem;
                            margin-bottom: 5px;
                         }
                         & .servingPerson{
                            & .servingPersonIcon{
                                font-size: 1.8rem;
                                margin-right: 5px;
                            }
                         }
                    }

                    & .bottomBar{
                        width: .25rem;
                        height: 5.5rem;
                        background-color: #fff;
                        border-radius: 12px;
                    }
                    
                    & .recipeTime{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        & .timeTitle{
                            text-transform: uppercase;
                            font-weight: 900;
                            letter-spacing: 2px;
                            font-size: 1.6rem;
                            margin-bottom: 5px;
                        }
                        & .timeIcon{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            & .clockIcon{
                                font-size: 1.8rem;
                            }
                            & .time{
                                text-transform: lowercase;
                                letter-spacing: 2px;
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
                & .ratingBottom{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .stars{
                        display: flex;
                        gap: 8px;
                        & .starsIcon{
                            font-size: 1.8rem;
                        }
                    }
                    & .rating{
                        font-weight: 500;
                        letter-spacing: 2px;
                        text-transform: lowercase;
                    }
                }
            }
        }
        & .container:hover{
            box-shadow: var(--orange-color) 10px 10px;
            background-color: var(--background-color);
            color: var(--blue-color);

            & .tag{
                color: var(--orange-color);
            }
            & .recipeName{
                text-align: center;
            }
            & .nameBar{
                background-color: var(--orange-color);
            }
            & .detailBottom{
                justify-content: space-evenly;
                & .serving{
                    align-items: center;
                }
                & .bottomBar{
                    background: var(--orange-color);
                }
                & .recipeTime{
                    align-items: center;
                }
            }
        }
    }
    @media (width <= 600px){
            height: initial;
            padding: 1.5rem;
        .top{
            height: 20rem;
            padding: 1rem;
            .container{
                max-width: 75%;
                padding: 1rem;
                .recipe{
                    margin-bottom: 1rem;
                }
            }
        }
        .bottom{
            gap: 1rem;
            .container{
                width: calc(100% / 3 - 1rem);
                .img{
                    height: 10rem;
                }
            }
        }
    }
}
