.whatNew {
  padding: 2rem 5rem;
  background: #fff;
  .heading {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 3rem;
    font-weight: 700;
    .icon{
        color: var(--orange-color);
        font-weight: 900;
        font-size: 5rem;
        margin-bottom: -1.5rem;
        margin-left: -1rem;
    }
  }
  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
    .container {
      width: calc((100% / 3) - 2rem);
      .img {
        width: 100% !important;
      }
      .tag {
        text-transform: uppercase;
        margin: 0.5rem 0;
      }
      .recipeName {
        margin-bottom: 0.5rem;
        text-transform: capitalize;
      }
    }
  }
  @media (width <= 600px) {
    padding: 1.5rem;
    .bottom {
      gap: 1rem;
      .container {
        width: calc(100% / 3 - 1rem);
        .img {
          height: 10rem;
        }
      }
    }
  }
}
